$sidebar-width: 300px;

.dashboardContainer {
    height: 100vh;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: $sidebar-width;
    height: 100%;
    background-color: #3b3b3b;
    padding: 25px 20px;
    box-sizing: border-box;
    transition: all .7s ease-in-out;

    &.off-screen {
        border-radius: none;
    }
}

.sidescreen {
    margin-left: $sidebar-width;
    width: calc(100% - $sidebar-width);
    height: 100%;
    background-color: white;
    padding: 25px 16px 0px;
    box-sizing: border-box;
    transition: all .7s ease-in-out;

    &.full-width {
        border-radius: none;
    }
}

@media screen and (max-width: 1000px) {
    .full-width{
        width: 100%;
        margin-left: 0;
    }

    .off-screen {
        left: -$sidebar-width;
    }
}


