.market {
  display: flex;
  flex-wrap: wrap;
}

.tickets {
  padding: 0 10px;
  width: 100%;
  min-width: 300px;
}

@media screen and (min-width: 1000px) {
  .tickets {
    width: 50%;
    min-width: 300px;
  }
}

.map-container {
  width: 100%;
  padding: 0 10px
}

.map {
  width: 50%;
}

@media screen and (min-width: 1000px) {
  .map {
    width: 50%;
    position: fixed;
    margin-left: 40px;
  }
  .map-container {
    width: 300px;
    padding: 0;
  }
}