.signup-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

    .card {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300px;
      padding: 40px;
      padding-bottom: 76px;
      transform: translate(-50%, -50%);
      background: rgba(0,0,0,.5);
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(0,0,0,.6);
      border-radius: 6px;

        h1 {
          margin: 0 0 30px;
          padding: 0;
          color: #fff;
          text-align: center;
        }

        button{
          position: absolute;
          font-weight: 600;
          font-size: 1.2rem;
          border: none;
          left: 50%;
          transform: translate(-50%, 0);
          width: 40%;
          margin-top: 10px;
          padding: 8px;
          background-color: aquamarine;
          border-radius: 6px;
        }
    }

    .form-input {
      position: relative;

      &:focus-within label{
        top: -20px;
            left: 0;
            color: #03e9f4;
            font-size: 12px;
      }
        label{
          position: absolute;
          top:0;
          left: 0;
          padding: 10px 0;
          font-size: 16px;
          color: #fff;
          pointer-events: none;
          transition: .5s;
        }
        input {
          width: 100%;
          padding: 10px 0;
          font-size: 16px;
          color: #fff;
          margin-bottom: 30px;
          border: none;
          border-bottom: 1px solid #fff;
          outline: none;
          background: transparent;
        }
        input:-webkit-autofill,
        input:-webkit-autofill:focus {
          transition: background-color 600000s 0s, color 600000s 0s;
        }
        input[data-autocompleted] {
          background-color: transparent !important;
        }
        
        .label-valid{
          top: -20px;
            left: 0;
            color: #03e9f4;
            font-size: 12px;
        }
        
    }    

}



@media screen and (min-width: 600px) {
  .signup-container{
    .card {
      position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        padding: 40px;
        padding-bottom: 76px;
        transform: translate(-50%, -50%);
        background: rgba(0,0,0,.5);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 6px;
    }
  }
}